body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header{
  background-color: #2af3e2;
}
.space{
  max-width: 1400px;
  margin: 0 auto;
}
.word-photo{
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.world-logo{
  width: 30%;
}
.world-header{
  width: 50%;
  text-align: center;
}
.world-search{
  width: 20%;
  text-align: end;
}
.logo{
  height: 50px;
  padding-top: 6px;
}
.header-list{
  list-style: none;
}
.world-header .header-list li{
  display: inline-block;
  margin-top: 8px;
}
.world-header .header-list li a{
  text-decoration: none;
  margin-left: 65px;
  color: #000;
  font-family: sans-serif;
  font-weight: bold;
}
.world-header .header-list li a:hover{
  color: #ffffff;
  cursor: pointer;
}
.search-icon{
  margin-top: 22px;
  height: 20px;
}

/* OUR PROTFOLIO */

.pro-head{
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: normal;
}
.pro-title{
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
    color: #393937;
    margin-bottom: 50px;
}
.our{
  font-size: 40px;
  color: #ff0000;
}
.img-wrap{
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.shap{
  width: 40%;
}
.wrap{
  width: 60%;
}
.wraper{
  text-align: center;
}
.shap img{
  width: 80%;
  height: 250px;
  margin-bottom: 10px;
}
.pro{
  text-align: center;
}
.wrap img{
  width: 80%;
  height: 383px;
  margin-bottom: 10px;
}
.see-more{
  text-align: center;
  margin-top: 70px;
}
.see-more a{
  text-decoration: none;
  font-size: 18px;
  font-family: sans-serif;
  color: #ffffff;
  background-color: #ff0000;
  padding: 10px 18px;
  border-radius: 10px;
  font-weight: bold;
  margin-bottom: 80px;
}
.see-more a:hover{
  background-color: #ff0000;
  color: #ffffff;
  padding: 12px 20px;
}
.line{
  width: 10%;
  border-style: none;
  border-top: dotted;
  border-color: #ff0000;
  text-align: center;
  margin-top: 80px;
}

/* OUR PLACE */

.plase-head{
    text-align: center;
    font-size: 40px;
    font-family: sans-serif;
    font-weight: normal;
    padding-top: 50px;
}
.place-para{
  text-align: center;
  font-size: 20px;
  font-family: sans-serif;
  color: #393937;
  margin-bottom: 50px;
}
.best-img{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: 0;
}
.wow-img{
  width: 33%;
  margin: 0 auto;
}

.cow-img{
    width: 33%;
    margin: 0 auto;
  }
  .boy-img{
    width: 33%;
    margin: 0 auto;
  }
  .copper {
    width: 100%;
    margin: 0 auto;
}
.inner {
    width: 100%;
    margin: 0 auto;
    height: 312px;
    margin-bottom: 10px;
}
.onner{
  width: 100%;
  margin: 0 auto;
  height: 312px;
  margin-bottom: 10px;
}
.bottom-para {
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    line-height: 1.4;
    color: #434341;
    padding: 5px 222px;
    text-align: center;
}
.line{
  width: 10%;
  border-style: none;
  border-top: dotted;
  border-color: #ff0000;
  text-align: center;
  margin-top: 60px;
  padding-bottom: 20px;
}

/* FOOTER */

.footer{
  background-color: #000000;
  padding-top: 20px;
  padding-bottom: 20px;
}

.follow{
    text-align: center;
    font-size: 40px;
    font-family: sans-serif;
    color: #ffffff;
    margin: 0;
}

.layer{
  height: 40px;
}
.layer:hover{
  background-color: #ff0000;
}
.follow-menu{
  list-style: none;
  margin: 0;
  padding: 0;
}
.east{
  display: inline-block;
  margin: 0px 30px;
}
.follow-list{
  text-align: center;
  padding-top: 40px;
}
.copy {
    text-align: center;
    color: #ffffff;
    padding-top: 50px;
    font-size: 18px;
    font-family: sans-serif;
    margin: 0;
}
